/* Write your CSS here */


.heading{
    color:  #252627;
    font-size: 40px;
    font-weight: 600;
    font-family: Roboto;
}
.bg-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.search-bar{
    background-color: #f1f5f9;
    border-radius: 12px;
    border-width: 0px;
    border-style: solid;
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 4px;
}
.img-icon{
    height: 40px;
    width: 35px;

}